header {
  width: 100%;
}
body {
  margin: 30px 40px;
  width: 100%
  background-color:#468499;
}
nav ul, footer ul {
  font-family: "Calibri", Arial; 
  padding: 5px 15px; 
  list-style: none; 
  font-weight: bold; 
}
nav ul li, footer ul li {
  display: inline; 
  text-align: center;
}
nav-bar ul li {
  display: inline;
  list-style-type: none;
  font-family: "Calibri", Arial;
  text-align: center;
  color: ##e7d9aa;
}
a {
  text-decoration: none;
  font-family: Calibri, Arial;
  list-style: none;
  color: #222222;
}
a:hover {
  font-weight: bold; 
  font-size: 1.1em;
}
a:visited {
  color: #4E4E4E;
}
h1 {
  padding-top: 15px;
  font-size: 2.4em; 
  font-family: "Satisfy", "Calibri", Arial; 
  text-align: center;
}
h2 {
  padding-top: 10px;
  font-size: 1.4em;
  font-family: "Coming Soon", "Calibri", Arial;
}
p {
  font-family: "News Cycle", "Calibri", Arial;
  color: #3F3F3F; 
}
footer {
  border-top: 3px dotted #33CCFF; 
  font-family: "Calibri", Arial;
  display: inline;
  list-style: none;
  margin: 30px 40px;
}
ul.posts {
  margin: 20px auto 40px; 
  font-size: 1.5em; 
}
ul.posts li {
  list-style: none; 
}
div.navigation-bar {
  background-color: #FE858E;
}
div.intro {
  font-family: "Satisfy", "Calibri", Arial;
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 200px;
}
div.intro-welcome {
  font-size: 2.4em;
}
div.intro-jobtitle {
  font-size: 2em;
  margin-top: 5px;
}
div.section-title {
  margin-top: 30px;
  font-family: "Coming Soon", "Calibri", Arial;
  font-size: 1.1em;
  font-weight: bold;
}
