body {
  margin: 60px auto;
  width: 70%;
}
nav ul, foot ul {
  font-family: Calibri, Arial; 
  padding: 5px 15px; 
  list-style: none; 
  font-weight: bold; 
}
nav ul li, foot ul li {
  display: inline; 
  margin-right: 15px;
}
a {
  text-decoration: none;
  font-family: Calibri, Arial;
  list-style: none;
  color: #B1B1B1; 
}
a:hover {
  text-decoration: underline; 
}
h1 {
  font-size: 3em; 
  font-family: Calibri, Arial; 
}
p {
  font-family: Calibri Light, Arial;
  colour: #3F3F3F; 
}
footer {
  border-top: 1px solid #33CCFF; 
  font-size: 0.8em; 
  list-style: none;
}

ul.posts {
  margin: 20px auto 40px; 
  font-size: 1.5em; 
}

ul.posts li {
  list-style: none; 
}
