header {
  width: 100%;
}
body {
  margin: 60px auto;
  width: 100%
  background-color:#CCDD99;
}
nav ul, foot ul {
  font-family: "Calibri", Arial; 
  padding: 5px 15px; 
  list-style: none; 
  font-weight: bold; 
}
nav ul li, foot ul li {
  display: inline; 
  margin-right: 40px;
}
nav-bar ul li {
  display: inline;
  background-color: #55FFAA;
  list-style-type: none;
  margin: 15;
  padding: 0;
  font-family: "Calibri", Arial;
  text-align: center;
}
a {
  text-decoration: none;
  font-family: Calibri, Arial;
  list-style: none;
  color: #585858; 
}
a:hover {
  color: #ACACAC; 
}
h1 {
  font-size: 3em; 
  font-family: "Calibri", Arial; 
}
h2 {
  font-size: 2em;
  font-family: "Calibri", Arial;
}
p {
  font-family: "Calibri Light", Arial;
  colour: #3F3F3F; 
}
footer {
  border-top: 1px solid #33CCFF; 
  font-size: 0.8em; 
  font-family: "Calibri", Arial;
  display: inline;
  list-style: none;
}

ul.posts {
  margin: 20px auto 40px; 
  font-size: 1.5em; 
}

ul.posts li {
  list-style: none; 
}
